{% extends 'app.twig' %}
{% block content  %}
<section class="content-header">
    <h1>
        Reviews &nbsp; &nbsp;
        <a href="/admin/reviews/add" class="btn btn-success btn" type="button"><span class="glyphicon glyphicon-plus"> New</span></a>
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
   {# <div class="box">
        <div class="box-header with-border">
                <h3 class="box-title  col-xs-1">Reviews </h3>
                    <button class="btn btn-success btn" type="button"><span class="glyphicon glyphicon-plus"> New</span></button>
        </div>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-times"></i></button>
            </div>
        </div>#}
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Source</th>
                    <th>Published</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for review in reviews %}
                <tr>
                    <th scope="row">{{ review.id }}</th>
                    <td> <a href="reviews/view?id=1">{{ review.title }}</a>  </td>
                    <td> {{ review.category }}  </td>
                    <td> {{ review.source }}  </td>
                    <td> {{ review.published }}  </td>
                    <td> {{ review.created_at }}  </td>
                    <td> {{ review.updated_at }}  </td>
                    <td> <a href="reviews/edit?id={{ review.id }}" class="btn btn-info btn-sm" type="submit">Edit</a> </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
        </div>
        <!-- /.box-footer-->
    </div>
</section>
<!-- /.content -->
{% endblock %}

